:root{
    --primary-button-color: #E3170A;
    --primary-button-text-color: #FFFFFF;
    --secondary-button-color: #8ACFE5;
    --secondary-button-text-color: #011827;
    --primary-ondark-text-border-button: #8ACFE5; 
    --dark-text-color: #000000;
    --light-text-color:#FFFFFF;
    --light-background-color: #E5E5E5;
    --dark-background-color: #011827;
    --figcaption-a-color: #36769D;
}

html{
    background-color: var(--light-background-color);
    font-family: "Roboto";
}

.header{
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
    font-weight: bold;
}

button{
    font-weight: bold;
}

.button-on-site{
    background-color: var(--secondary-button-color);
}

.button-background-story{
    color: var(--primary-ondark-text-border-button);
    border: var(--primary-ondark-text-border-button);
    background-color: transparent;
}

.button-popular-card{
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
}

.button-book-and-challenges{
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
}

.a-online{
    font-weight: bold;
    color: var(--figcaption-a-color);
}

.p-background-story{
    color: var(--light-text-color);
}

.p-quote{
    font-style: italic;
}

.article-background-story{
    background-color: var(--dark-background-color);
}

.footer-titles{
    font-weight: bold;
}

footer{
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
}